.contact-main-div{
    font-family: 'Titillium Web', sans-serif;
    margin:20px auto;
    padding: 20px 10px;
    height: fit-content;
}
.contact-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: fit-content;
    margin-bottom: 25px;
}
.contact-container h1{
    color: red;
    text-decoration: underline;
}

.contact-container h4{
    text-align: center;
    
}
.contact-container img{
    width:70%;
    height:400px;
}
span{
font-weight: bold;
}

.mng-sub-cont{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width:85%;
    padding:10px,auto;
    margin: auto;
    height: fit-content;

}
.mng-heading{
    color: red;
    text-decoration: underline;
    text-align: center;
    margin-bottom: 30px;
}
.mng-ind-cont{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:5px,10px;
    width:40%;
}
.mng-img{
    height:400px;
    width:300px;
    border-radius: 20px;
    margin-bottom: 10px;
}
.designation{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.designation h5{
    font-weight: bold;
}
.designation h2{
    color:red;
    
}
.personinfo p{
    text-align: justify;
    font-size: 20px;
}
.numbers{
    display: flex;
    justify-content: center;
}
.numbers i{
    font-weight: bold;
    text-decoration: underline;
}
.numbers a{
    margin-right: 20px;
    
    
}


@media screen and (max-width:767px) {
    .contact-container img{
        width:75%;
        height:280px;
    }
    .mng-sub-cont{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:fit-content;
       
    }
    .mng-heading{
        font-size: 25px;
    }
    .mng-ind-cont{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width:65%;
        margin-bottom: 30px;
    
    }
    .contact-container h1{
        color: red;
        font-size: 25px;
        
    }
    
    .contact-container h4{
        text-align: center;
        font-size: 20px;
        
    }
    .mng-img{
        height:300px;
        width:220px;
    }
    .designation h5{
        font-size: 20px;
        font-weight: bold;
    }
    .designation h2{
        color:red;
        font-size: 25px;
        
    }
    .personinfo p{
        text-align: justify;
        font-size: 16px;
    }


}

@media screen and (min-width:768px) and (max-width:991px) {
    .contact-container img{
        width:75%;
        height:280px;
    }
    .mng-sub-cont{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width:90%;
        margin: auto;
    
    }
    .mng-ind-cont{
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;
        width:45%;
        margin-bottom: 30px;
    
    }
    .mng-img{
        height:320px;
        width:250px;
    }
    .designation h5{
        font-size: 20px;
        font-weight: bold;
    }
    .designation h2{
        color:red;
        font-size: 25px;
        
    }
    .personinfo p{
        text-align: justify;
        font-size: 18px;
    }

}
