.home{
  font-family: 'Quattrocento', serif;
  height: fit-content;
  background-color: #e1e0dc;

}

.banner{
  background-color:#F5F6F7;
  color: black;
}


.normal-text{
  font-size: 1.5em;
}
.rounded-img{
  border-radius: 10px;
  object-fit: cover;
  

}
.homeimg{
height:500px;
width:90%;
margin:20px 0;
}
.maintext-continer{
  width:85%;
  margin:auto;
  text-align: justify;
  color:black;
}
.text{
  padding: 8px;
  margin:15px;
}
.text h2{
  color:red;
  

}
.text h4{
  line-height: 1.6;
}
.text img{
  display: flex;
  margin: 15px auto;
}
.muralimage{
  height:500px;
}

@media screen and (max-width:786px) {
  .muralimage{
    height:300px;
    width: 90%;
  }
  .text h2{
font-size: 22px;
  }
  .text h4{
font-size: 18px;
  }
}
@media screen and (min-width:787px) and (max-width:1200px) {
  .muralimage{
    height:350px;
    width:auto;
  }
}