.home{
  font-family: 'Quattrocento', serif;
  height: fit-content;
  background-color: #e1e0dc;

}

.banner{
  background-color:#F5F6F7;
  color: black;
}


.normal-text{
  font-size: 1.5em;
}
.rounded-img{
  border-radius: 10px;
  object-fit: cover;
  

}
.homeimg{
height:500px;
width:90%;
margin:20px 0;
}
.text{
  width:85%;
  margin:auto;
}